@using Store.Contractors.YandexKassa.Areas.YandexKassa.Controllers
@using Store.Contractors.YandexKassa.Areas.YandexKassa.Models
@model ExampleModel
@{
    ViewData["Title"] = "Yandex.kassa";
}
<h1>Yandex.Kassa</h1>
<p>
    <a href="/YandexKassa/Home/CallBack">Payment</a>
</p>
<form action="@Url.Action(nameof(HomeController.CallBack)),Payment">
    <input type="hidden" name="orderId" value="@Model.OrderId" />
    <input type="hidden" name="returnUri" value="@Model.ReturnUri" />
    <button type="submit" class="btn btn-success">Pay</button>
</form>