@model IReadOnlyDictionary<string,string>
@{ 
    ViewData["Title"] = "Way of Delivery";
}
<h1>Way of Delivery</h1>
<form action="@Url.Action(nameof(OrderController.StartDelivery))" method="post">
    
    <div class="form-group">
        <label for="code">Way of Delivery:</label>
        <select class="form-control" name="serviceName">
            @foreach(var method in Model)
            {
                <option value="@method.Key">@method.Value</option>
            }
        </select>
    </div>
    <button type="submit" class="btn btn-success">Next</button>
</form>
